<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rutas.santaelena.app.rutas">

    <application
        android:name="com.rutasbus.santaelena.app.rutas.GlobalClass"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"

        android:usesCleartextTraffic="true">

        <!-- agregado arriba usesCleartextTraffic- .   -->
        <activity
            android:name="inicio.Splashscreen"
            android:theme="@style/Theme.AppCompat.Light">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.rutasbus.santaelena.app.rutas.MapsActivity"
            android:label="@string/title_map"
            android:screenOrientation="portrait" />

        <activity
            android:name="lineas.LineaBus"
            android:parentActivityName="com.rutasbus.santaelena.app.rutas.MapsActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="sesion.IniciaSesion"
            android:parentActivityName="com.rutasbus.santaelena.app.rutas.MapsActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="sesion.RegistraUsuario"
            android:parentActivityName="com.rutasbus.santaelena.app.rutas.MapsActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="denuncias.Denuncias"
            android:parentActivityName="com.rutasbus.santaelena.app.rutas.MapsActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="lineas.AllBusesCirculando"
            android:parentActivityName="com.rutasbus.santaelena.app.rutas.MapsActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name="com.rutasbus.santaelena.app.rutas.CardHelp"
            android:parentActivityName="com.rutasbus.santaelena.app.rutas.MapsActivity"
            android:screenOrientation="portrait"></activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAcdDIpWjo3D68HFvOp70UBLqh6uxlhdiU" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <!-- Agregado uses-library - .   -->
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

    </application>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- Comentada la siguiente linea porque producia errores al subir a google play.   -->
    <!--    <uses-permission android:name="android.permission.READ_PHONE_STATE" />      -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.maps" />


    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

</manifest>